/* style.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}

.tool-details {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.tool-details h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 15px;
}

.tool-details img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 90px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tool-details p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.tool-details button {
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.tool-details button:hover {
    background-color: #e63900;
    color: #fff;
}

.tool-details label {
    display: block;
    margin-bottom: 5px;
}

.tool-details input[type="number"] {
    padding: 8px;
    width: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.tool-details button,
.tool-details input[type="number"] {
    margin-top: 10px;
}

.tool-details button:last-of-type {
    margin-right: 0;
}

